.gradientHero {
	background: #f77827;
	background: linear-gradient(90deg, rgba(247, 120, 39, 1) 0%, rgba(250, 195, 74, 1) 100%);
}

.gradientHero_text {
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.25rem;
	color: var(--scb-color-white);
}
.gradientHero_text h1 {
	font-size: var(--scb-fs-3xl);
	font-weight: 700;
	text-shadow:
		0px 1px 2px rgb(0 0 0 / 0.1),
		0px 3px 2px rgb(0 0 0 / 0.1),
		0px 4px 8px rgb(0 0 0 / 0.1);
}
