@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--scb-color-orange: #F15A24;
	--scb-color-orange-80: #b34118;
	--scb-color-orange-100: #C75846;
	--scb-color-white: white;
	--scb-fw-semibold: 700;

	--scb-fs-base: 1rem;
	--scb-fs-md: 1.2rem;
	--scb-fs-lg: 1.44rem;
	--scb-fs-xl: 1.728rem;
	--scb-fs-2xl: 2.074rem;
	--scb-fs-3xl: 2.488rem;
	--scb-fs-4xl: 2.986rem;

	--scb-breakpoint-sm: 640px;


	--background-color: #ffffff; /* Light background */
	--foreground-color: #42566e; /* Light text */
	--background-color-muted: color-mix(in srgb, var(--background-color), var(--foreground-color) 10%);
	--accent-color: #6644ff; /* Accent color */
	--background-variant-color: #172940;
	--accent-color-dark: color-mix(in srgb, var(--accent-color), black 40%);
	--accent-color-soft: color-mix(in srgb, var(--accent-color), white 20%);
	--accent-color-light: color-mix(in srgb, var(--accent-color), white 90%);
	--input-color: color-mix(in srgb, var(--background-color), var(--foreground-color) 30%);
}

.dark {
	--background-color: #0e1a2b ; /* Default dark background */
	--background-color-muted: color-mix(in srgb, var(--background-color), var(--foreground-color) 10%);
	--background-variant-color: #172940;
	--foreground-color: #ffffff; /* Default dark text */
}

@layer base {
	html {
		@apply bg-[var(--background-color)] text-[var(--foreground-color)];
	}
}

@layer components {
	input:focus,
	textarea:focus,
	select:focus,
	button:focus,
	a:focus,
	[role='button']:focus {
		@apply outline-none ring-2 ring-[var(--accent-color)] ring-offset-2 ring-offset-background;
	}

	[data-background='dark'] {
		@apply bg-gray dark:bg-[var(--background-variant-color)];
	}

	:root:not(.dark) [data-background='dark'] {
		.inline-flex[class*='bg-gray'] {
			@apply bg-[#172940] text-white hover:bg-accent;
		}
	}
}

@layer utilities {
	a {
		@apply hover:text-accent transition-colors no-underline;
	}
}


[data-background='scb-orange'] {
	background-color: #fcead7;
}

.scb-bg-color-orange-80 {
	background-color: var(--scb-color-orange-80) !important;
}

.scb-site-container {
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem
}

@media screen and (min-width: 640px) {
	.scb-site-container {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

@media screen and (min-width: 1024px) {
	.scb-site-container {
		padding-left: 4rem;
		padding-right: 4rem;
	}
}


.scb-content h2, 
.scb-content h3 {
	font-weight: var(--scb-fw-semibold);
	line-height: 1.2;
	margin-bottom: 1rem;
	color: var(--scb-color-orange);
}

.scb-content h2 {
	font-size: 2rem;
}

.scb-content h3 {
	font-size: 1.75rem
}

.scb-btn-group {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-block: 1rem;
}

.scb-btn-primary, .scb-btn-outline {
	padding: 0.8em 1.25em;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	font-weight: 600;
	cursor: pointer;
}

.scb-btn-primary {
	background-color: var(--scb-color-orange);
	color: var(--scb-color-white);
}

.scb-btn-primary:hover, .scb-btn-primary:focus {
	background-color: var(--scb-color-orange-80);
	color: var(--scb-color-white)
}

.scb-btn-outline {
	border: 1px solid var(--scb-color-orange);
	color: var(--scb-color-orange)
}

